<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.2/dist/flowbite.min.css" />
</head>

<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}


    <script src="https://unpkg.com/flowbite@1.4.2/dist/flowbite.js"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>